<div class="row product-list">
    <div class="col-md-12 product" ng-repeat="product in vm.products">
        <div class="product__name row">
            <strong class="col-md-4">{{ product.name }}</strong>
        </div>
        <div class="row">
            <div class="col-md-8">
                {{ product.description }}
            </div>
            <div class="col-md-3 col-md-offset-1">
                <div class="row">
                    <div class="col-md-12">
                        <i ng-show="vm.isInStock(product) && !vm.isInCart(product)">in stock</i>
                        <i ng-hide="vm.isInStock(product)">out of stock</i>
                    </div>
                    <i class="product__in-cart-status"
                       ng-show="vm.isInCart(product)">
                        already in cart
                    </i>
                    <div class="col-md-12 product__price">
                        <i class="glyphicon glyphicon-shopping-cart product__cart"
                           ng-show="vm.isInStock(product) && !vm.isInCart(product)"
                           ng-click="vm.addToCart({product: product})">
                        </i>
                        <strong>
                            {{ product.price }}$
                        </strong>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>